<div id="main-content" class="nopadding">
<img id="banner-img" src="/images/banner4.jpg">

<div id="titles" class="container text-center">
    <div class="row">

      <div id="signup-links"
        <a href="/employerSignUp"><button class="btn btn-lg btn-default col-md-offset-2 col-md-4 main-link"> Employers </button> </a>

        <a href="/applicantSignUp"><button class="btn btn-lg btn-default col-md-4 main-link"> Applicants/Networkers </button> </a>

                <br><br><br>

        <a href="#"><button class="btn btn-lg btn-default col-md-offset-4 col-md-4 main-link"> Demo </button> </a>
      </div>

    </div>
  </div>

<div class="mission-statement col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
  <h2> Mission </h2>

</div>

</div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="javascript/signup.js"></script>