<div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1> Welcome to Nameless </h1>
        <h2>Sign Up</h2>

        <br /> <br />

        <a href="/employerSignUp"><button class="btn btn-lg btn-default"> Employers </button> </a>

        <a href="/applicantSignUp"><button class="btn btn-lg btn-default"> Applicants/Networkers </button> </a>


        <br><br><br>
        <h3><a href="/login">Log In </a></h3>

      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="javascript/signup.js"></script>