<div id="main-content" class="nopadding">
<img id="banner-img" src="/images/banner4.jpg">

<div id="titles" class="container text-center">
    <div class="row">
    <div >
      <h1 id="welcome-heading" class="main-title"> Nameless </h1>
      <h3 class="main-title"> An anonymous hiring platform </h3>
    </div>
      <div id="signup-links"
        <a href="/employerSignUp"><button class="btn btn-lg btn-default col-md-offset-2 col-md-4 main-link"> Employers </button> </a>

        <a href="/applicantSignUp"><button class="btn btn-lg btn-default col-md-4 main-link"> Applicants/Networkers </button> </a>

                <br><br><br>

        <a href="#"><button class="btn btn-lg btn-default col-md-offset-4 col-md-4 main-link"> Demo </button> </a>
      </div>

    </div>
  </div>

<div class="mission-statement col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
  <h2> Mission </h2>

  <h5>In the United States, job applicants are protected under federal law from discrimination based on race, national origin, gender, pregnancy, age, disability, or religion. These laws go so far as to bar employers from inquring about these topics during an interview. But, in practice, most of this information is readily available on the applicant's resume or online profile, or becomes apparent during an interview.</h5>

  <h4><i>Nameless</i> provides a platform for employers to learn about candidates without the influence of unconcious biases, and for applicants to confidently share their skills without the rigid constraints of a resume format.</h4>

  <h5>With Nameless, candidates describe their credentials however they choose, using their own discretion to omit details that may reveal personal information. Applicant profiles do not feature a name, headshot, or contact information -- employers will only learn an applicant's full identity after scheduling an interview.<h5>

  <h5>Employers and applicants are encouraged use our anonymous private messaging feature to exchange work samples and skills assesments. By front-loading the hiring process with meaningful, objective and anonymous information, employers have a chance to build an accurate first impression of candidates before they arrive for interviews.</h5>

  

</div>

</div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="javascript/signup.js"></script>