body{
  background-color: #f6f6f6;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}

.profile-img{
	height: 200px;
	width: 200px;
	border: solid;
}
h1{
	font-family: 'Lobster Two', cursive;
	font-size: 46px;
}

x

h4{
	color:#007DD5;
	font-style: bolder;
}

h5{
	font-style: bolder;
}

h6{
	font-style: bold;
	color: pink;
}

textarea{
	height: 200px;
	width: 100%;
	opacity: 0.8;
	color: black;
}

button{
  margin: 5px;
}

.navbar, .nav, .navbar-default{
	background-color: #333333;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: #333333;
}

.nav navbar-nav li a{
  color: #D2D5D4;
}

#logo{
  font-size: 20px;
}

.sr-only{
	border-color: #781A28;
	background-color: #781A28;

}

.detail{
	font-size: 10px;
	font-style: italic;
	font-color: grey;
}

.basic-info-form, .placeholder{
	background-color: #FFF3D7;
	opacity: 0.7;
}

.basic-info-form, .placeholder, .credential-tile, .job-tile{
    border-radius: 3px;
	padding: 2%;
	box-shadow: 1px 1.5px 1px #888888;

}

.credential-tile, .job-tile{
	margin: 2%;
	background-color: #FFF3D7;
	opacity: 0.6;
	color: black;
}

.heading-input, .title-input{
	color: #333333;
	background: transparent;
    border: none;
    font-size: 18px;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;

}

.subheading-input, .location-input{
	color: #0A86CA;
	background: transparent;
    border: none;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
	

}

.corner-icon{
	float: right;
}

#chat-form { 
margin: 20px; 
}

#chat-form input {
 border: 0; 
 padding: 10px; 
 width: 100%; 
 margin-right: .5%; 
}

#subject{
  margin: 2px;
}

#message{
  margin: 2px;
}

#attachment{
  margin: 2px;
}


.giant-icon{
	font-size: 50px;
	text-align: center;
}

#welcome-heading{
  font-size: 90px;
}

.signup{
  padding: 20px;
  margin: 5px;
}

#messages{
	height: 200px;
	overflow: scroll;
	background: white;
	opacity: 0.65;
	color: black;
	padding: 2%;
}

.user-div{
	font-size: 18px;
	font-style: bold;
}

.subject-div{
	font-size: 14px;
	font-style: italic;
}

.message-div{
	margin: 14px;
	font-size: 11px;
}

.attachment-div{
	font-size: 12px;
	color: grey;
}

.convos{
	padding: 3%;
} 

.inbox-convo{
	font-size: 20px;
	font-style: bold;
	color: white;
	background-color: #333333;
	padding: 5%;
}

.inbox-convo:hover{
	background-color: grey;

}

.convo-sidebar{
	height: 600px;
	overflow: scroll;
}

hr{
	border-color: grey;
}

.signup-heading{
  margin: 20px;
}

.search-listing{
	font-size: 30px;
	margin: 15px;
}

.public-bio{
	color: black;
	font-size: 20px;
	margin-top: 35px;
}

.comp-bio{
	color: black;
	font-size: 16px;

}

text-area{
	height: 100px;
}

.start-convo-anon{
	margin-top: 20px;
}

.name-div{
	background-color: #333333;
    background: -webkit-linear-gradient(left, #333333, #C0D19C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #333333, #C0D19C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #333333, #C0D19C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #333333, #C0D19C); /* Standard syntax */
	color: white;
	padding: 1%;
	width: 80%;
	margin-bottom: 1%;

}

.content-div{
	margin-bottom: 2%;
	padding: 1.5%;
	padding-top: 1%;
	padding-left: 1%;
	background-color: #C0D19C;
	opacity: 0.8;
	box-shadow: 1px 2px 1px #888888;
}

.tile-delete-form{
	display: inline;


}

.tile-save, .tile-delete {
	font-size: 20px;
	width: 80.9px;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	padding-top: 1%;
}

.tiny-text{
	font-family: sans-serif;
	font-size: 8px;
	font-style: bold;
	margin-top: 20%;
}

#banner-img{
  width: 100%;
}

#main-content{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#titles{
  align-content: center;
  padding-top: 40px;
  position: absolute;
  left: 0px;
  bottom: 50px;

}

.mission-statement{
  padding-top: 75px;
  padding-bottom: 75px;
  margin-bottom: 75px;
  align-content: center;
}

/*footer{
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 
}*/

#signup-links{

}

.main-link{
  border-radius: 5px;
  opacity: 0.85;
}
