<h1>{{data.name}}</h1>
<img src="{{data.img}}"> 
{{#if data.info}}
<h4>{{{findLineBreaks data.info}}}</h4>
{{/if}}
<button is-anonymous="false" convo-title = " wants to learn more about {{data.name}}" class="start-convo btn btn-large btn-danger">Start A Conversation</button>