
<div class="container col-md-4">
  <h2>Conversations</h2>
  {{#each conversations}}
  <div class="row convos" convo-id="{{this.id}}">
    <p class="inbox-convo">{{this.title}}</p>
    <hr>
  </div>
  {{/each}}
</div>

<div class="container col-md-8">
  <div>
    <h2>Messages</h2>
    <div id="messages"></div>
    <h2>New Message</h2>
    <form id="chat-form" action="">
      <div class="form-group">
        <input id="subject" placeholder="Subject" />
        <textarea id="message" placeholder="Message" autocomplete="off" rows="8"></textarea> 
        <label for="attachment">Add an attachment</label>
        <input id="attachment" type="file" placeholder="Attachment" />
        <br />
        <button class="btn btn-md btn-default">Send</button>
      </div>
    </form>
  </div>
</div>

