<div class="container">
    <div class="row">
      <div>
        <h2>Messages</h2>
        <div id="messages"></div>
        <h2>New Message</h2>
        <form id="chat-form" action="">
          <div class="form-group">
            <textarea id="message" autocomplete="off"></textarea> 
            <br>
            <button class="btn btn-sm">Send</button>
          </div>
        </form>
        <br />
      </div>
    </div>
  </div>